[submodule "external/legacy-supercell-wx"]
	path = external/legacy-supercell-wx
	url = https://github.com/dpaulat/supercell-wx.git
[submodule "external/maplibre-native-qt"]
	path = external/maplibre-native-qt
	url = https://github.com/maplibre/maplibre-native-qt.git
[submodule "external/cmake-conan"]
	path = external/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date.git
[submodule "external/units"]
	path = external/units
	url = https://github.com/nholthaus/units.git
[submodule "external/hsluv-c"]
	path = external/hsluv-c
	url = https://github.com/hsluv/hsluv-c.git
[submodule "external/aws-sdk-cpp"]
	path = external/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
